/*-----------------------------------------------------
	Font Import
-----------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*-----------------------------------------------------
	Variables Definition
-----------------------------------------------------*/

:root {
    --txt-primary: hsl(237, 12%, 33%);
    --txt-secundary: hsl(240, 6%, 50%);

    --accent-primary: hsl(238, 29%, 16%);
    --accent-secundary: hsl(14, 88%, 65%);

    --bg-primary: hsl(0, 0%, 100%);
    --bg-secundary: hsl(273, 75%, 66%);
    --bg-tertiary: hsl(240, 73%, 65%);

    --divider: hsl(240, 5%, 91%);

    --shadow: hsla(240, 52%, 45%, 0.75)
}

/*-----------------------------------------------------
	Global Styling
-----------------------------------------------------*/

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*-----------------------------------------------------
	Main content Styling
-----------------------------------------------------*/

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 9.5rem 1.5rem 5rem 1.5rem;
    background-image: linear-gradient(180deg, var(--bg-secundary), var(--bg-tertiary));
}

/* Card styling */

.card {
    position: relative;
    display: flex;
    width: 100%;
    max-width: fit-content;
    padding: 8.5rem 1.5rem 3rem 1.5rem;
    border-radius: 1.3rem;
    background-color: var(--bg-primary);
    box-shadow: .44rem 2.3rem 1.75rem -.37rem var(--shadow);
    -webkit-box-shadow: .44rem 2.3rem 1.75rem -.37rem var(--shadow);
    -moz-box-shadow: .44rem 2.3rem 1.75rem -.37rem var(--shadow);
}

/* Hiding the box illustration on small screens */

.card__box-illustration {
    display: none;
}

.card__woman-illustrations {
    position: absolute;
    top: -7.3rem;
    left: 0;
    right: 0;
    display: flex;
}

.card__woman-illustration {
    width: 75%;
    margin: 0 auto;
}

.card__shadow-illustrations {
    position: absolute;
    top: 0rem;
    left: 0;
    right: 0;
    display: flex;
}

.card__shadow-illustration {
    width: 75%;
    margin: 0 auto;
}

/* Card title styling */

.card__title {
    margin-bottom: .75rem;
    color: var(--accent-primary);
    font-size: 1.9rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

/* Removing the default abbr element styling */

.card__abbreviation {
    text-decoration: none;
}

/* Styling for the elements which contain the questions and answers */

.faq {
    padding: 1.1rem 0;
    border-bottom: .1rem solid var(--divider);
}

/* Change the font color and weight of the element with the class faq__question 
when the element with class faq has the open attribute */

.faq[open] .faq__question {
    color: var(--accent-primary);
    font-weight: 700;
}

/* Rotate and slightly move up the arrow icon on the right side of the element with the 
class faq__question when the element with class faq has the open attribute */

.faq[open] .faq__question::after {
    transform: rotate(180deg) translateY(-.1rem);
}

/* If the element with class faq has an open attribute, then fade in the 
content from the right side of the element with class faq__answer */

.faq[open] .faq__answer {
    opacity: 1;
    transform: translateX(0)
}

/* Question styling */

.faq__question {
    position: relative;
    padding-right: 2.1rem;
    color: var(--txt-primary);
    font-size: .83rem;
    font-weight: 400;
    list-style: none;
    cursor: pointer;
    transition: color .25s ease-in-out;
}

/* Change the text color for the element with the class faq__question on hover */

.faq__question:hover {
    color: var(--accent-secundary);
}

/* Styling for the arrow icon inside the element with the class faq__question */

.faq__question::after {
    content: url(../images/icon-arrow-down.svg);
    position: absolute;
    bottom: 0.1rem;
    right: 0;
    transition: all .25s ease-in-out;
}

/* Answer styling */

.faq__answer {
    max-width: 15.7rem;
    margin-top: 0.6rem;
    color: var(--txt-secundary);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.5;
    opacity: 0;
    transform: translateX(-10px);
    transition: all .45s ease-in-out;
}

/*-----------------------------------------------------
	Footer Content Styling
-----------------------------------------------------*/

.footer {
    padding: 1rem;
    background-color: var(--bg-primary);
}

/* Footer text styling */

.footer__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--txt-secundary);
    font-size: .87rem;
    font-weight: 400;
    text-align: center;
}

/* Styling for the links inside the footer */

.footer__link {
    color: var(--txt-primary);
    text-decoration: none;
    transition: color .25s ease-in-out;
}

/* On hover change the link color to orange */

.footer__link:hover {
    color: var(--accent-secundary);
}

/*-----------------------------------------------------
	Media Queries
-----------------------------------------------------*/

@media (min-width: 390px) {

    /* Separating the two spans inside the footer */

    .footer__text span:last-child {
        margin-left: 0.2rem;
    }
}

@media (min-width: 1150px) {
    .card {
        justify-content: flex-end;
        max-width: 57rem;
        padding: 5rem;
    }

    .card__box-illustration {
        position: absolute;
        top: 0;
        left: -5.7rem;
        display: block;
        margin-top: 23.5%;
        transition: all .25s ease-in-out;
        z-index: 3;
    }

    /* If the browser supports :has() and :not() selectors the box illustration will 
    move slightly to the right when the user hovers over the element with the class of 
    faq__question */

    .card:has(:not(.faq[open]) > .faq__question:hover) > .card__box-illustration {
        transform: translateX(-1.9rem);
    }

    .card__woman-illustrations {
        top: 0;
        bottom: 0;
        left: 0;
        right: 50%;
        overflow: hidden;
    }

    .card__woman-illustration {
        width: 100%;
        margin: 19% auto auto -5rem;
        z-index: 2;
    }

    .card__shadow-illustrations {
        top: 0;
        bottom: 0;
        left: 0;
        right: 50%;
        overflow: hidden;
    }

    .card__shadow-illustration {
        position: absolute;
        width: 200%;
        margin: -52% auto auto -32.3rem;
        z-index: 1;
    }

    .card__title {
        text-align: start;
    }

    .faq__question {
        padding-right: 7rem;
    }

    .faq__question::after {
        right: 1rem;
    }

    .faq__answer {
        max-width: 19.9rem;
    }
}